@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(140, 196, 97);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.part {
  display: none;
}

.score-panel {
  display: flex;
  justify-content: space-between;
  height: 9.3rem;
  width: 43.7rem;
  border-radius: 13px;
  border: 4px solid white;
}

.game-title {
  color: white;
  font: 600 1.8rem Roboto;
  letter-spacing: 0.1em;
  margin: 10px 0px 0px 20px;
}

.score-section {
  display: flex;
  align-items: center;
}

.computer-score,
.user-score {
  height: 7.5em;
  width: 8.1em;
  background-color: white;
  margin: 1.25em;
  text-align: center;
  border-radius: 10px;
}

.computer-score h4,
.user-score h4 {
  color: rgb(101, 101, 101);
  font: 600 1rem Roboto;
  letter-spacing: 0.1em;
  margin-top: 0.6em;
}

.computer-score h3,
.user-score h3 {
  font: 700 3.7rem Roboto;
  color: rgb(37, 37, 37);
  text-align: center;
}

.options {
  height: 15.6em;
  width: 25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4.2em;
}

.option {
  cursor: pointer;
}

.rock img,
.paper img,
.scissors img {
  position: relative;
}

.rock img {
  left: 2.5em;
  top: 2.75em;
}

.paper img,
.scissors img {
  left: 2.9em;
  top: 2.8em;
}

.scissors,
.paper,
.rock {
  height: 10em;
  width: 10em;
}

.rock {
  background-image: url("rockbg.png");
  margin-right: 5em;
  margin-bottom: 2.5em;
}

.paper {
  background-image: url("paperbg.png");
}

.scissors {
  background-image: url("Scissorbg.png");
  margin-bottom: 2px;
}

.lines,
.lines::before,
.lines::after {
  height: 1.12em;
  width: 7.5em;
  background: rgba(0, 0, 0, 0.64);
  z-index: -1;
}

.lines {
  position: relative;
  top: 10.3em;
  right: 0.06em;
  left: 9em;
}

.lines::before {
  content: "";
  position: absolute;
  top: 6.25em;
  left: 4.3em;
  transform: rotate(120deg);
}

.lines::after {
  content: "";
  position: absolute;
  top: 6.25em;
  right: 4.3em;
  transform: rotate(-120deg);
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 4em;
  margin-top: 2em;
}

.nextBtn,
.rulesBtn {
  height: 2.3em;
  width: 5.7em;
  border-radius: 10px;
  border: 2px solid white;
  background: rgba(217, 217, 217, 0);
  font: 600 1.2rem Roboto;
  color: white;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.rulesBtn {
  margin-right: 0.8em;
}

.rules-info {
  height: 21.8em;
  width: 18.7em;
  border-radius: 13px;
  border: 7px solid white;
  background: rgb(0, 68, 41);
  position: absolute;
  top: 17.1em;
  left: 64.6em;
}

.rules-info h1 {
  padding: 20px 20px 0px;
  text-align: center;
  color: white;
  font: 500 1.8em Roboto;
}

.game-rules {
  padding: 1.25em;
}

.game-rules li {
  font: 400 0.89rem Roboto;
  color: white;
  list-style-type: none;
  margin-bottom: 1em;
}

.exit-rules-info {
  background-image: url("exit.png");
  background-color: transparent;
  border: none;
  height: 1.87em;
  width: 1.87em;
  position: absolute;
  bottom: 9.6em;
  left: 7.8em;
  color: white;
  font: 500 2rem Roboto;
  cursor: pointer;
}

.Ellipse-User,
.Ellipse-User::before,
.Ellipse-User::after,
.Ellipse-PC,
.Ellipse-PC::before,
.Ellipse-PC::after {
  position: absolute;
  border-radius: 350px;
}

.Ellipse-User,
.Ellipse-PC {
  top: 20.6em;
  z-index: -1;
  height: 14em;
  width: 14em;
  background-color: rgb(59, 103, 32);
}

.Ellipse-User::before,
.Ellipse-PC::before {
  content: "";
  bottom: -1.5em;
  left: -1.5em;
  width: 17.2em;
  height: 17.2em;
  z-index: -2;
  background-color: rgba(29, 168, 43, 0.79);
}

.Ellipse-User::after,
.Ellipse-PC::after {
  content: "";
  bottom: -3em;
  left: -2.9em;
  z-index: -3;
  width: 20.5em;
  height: 20.5em;
  background-color: rgba(46, 154, 37, 0.39);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 62px 0px;
}

.Ellipse-User {
  left: 20em;
  pointer-events: none;
}

.Ellipse-PC {
  right: 19.8em;
  pointer-events: none;
}

.result-container {
  height: 15.6em;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6.1em;
  padding: 0em 22em;
}

.User-Picked h2,
.PC-Picked h2 {
  color: white;
  font-family: roboto;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 1.25em;
}

.Conclusion {
  color: white;
  font: 700 1rem Roboto;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 10em 5em 1em 5em;
}

.play-again {
  background-color: white;
  height: 3em;
  width: 9em;
  border-radius: 9px;
  border: 1px solid white;
  color: rgb(107, 107, 107);
  font: 600 0.9rem Roboto;
  letter-spacing: 0.1em;
  margin-top: 1.3em;
  cursor: pointer;
}

#rock img {
  left: 2.5em;
  top: 2.9em;
}

#scissors img {
  left: 3.8em;
  top: 3.1em;
}

.hurray-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 11.8em;
}

.star {
  position: absolute;
  top: 4em;
}

.cup img {
  text-align: center;
  margin-bottom: 1.5em;
}

.hurray-page h1 {
  font: 600 3rem Roboto;
  color: rgb(255, 255, 255);
  letter-spacing: 0.1em;
  margin-left: .4em;
  margin-bottom: 0.1em;
}

.hurray-page h2 {
  font: 600 1rem Roboto;
  color: rgb(255, 255, 255);
  letter-spacing: 0.1em;
  margin-left: .4em;
}

.hurray-page .footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.9em;
}

.reset {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 0.3em;
}

#userChoice,
#PCChoice {
  pointer-events: none;
}

@media (max-width: 600px) {
  .header {
    justify-content: normal;
    align-items: normal;
    margin-top: 3em;
  }

  .score-panel {
    height: 8em;
    width: 26em;
    margin-left: 1.5em;
  }

  .game-title {
    font: 600 1.2rem Roboto;
    margin: 20px 0px 0px 15px;
  }

  .computer-score,
  .user-score {
    height: 5em;
    width: 5.5em;
    margin: 0.1em 0.4em 0em 0.3em;
  }

  .user-score {
    margin-right: 1.3em;
  }

  .computer-score h4,
  .user-score h4 {
    font: 600 0.7rem Roboto;
    padding-top: 0.5em;
  }

  .computer-score h3,
  .user-score h3 {
    font: 700 1.7rem Roboto;
    padding-top: 0.1em;
  }

  .options {
    height: 15.6em;
    width: 29em;
    padding-left: 2em;
    margin-top: 3.2em;
  }

  .lines {
    top: 7.7em;
    left: 10.1em;
  }

  .lines::before {
    top: 6.25em;
    left: 4em;
  }

  .lines::after {
    top: 6.25em;
    right: 3em;
  }

  .lines,
  .lines::before,
  .lines::after {
    height: 1em;
    background-repeat: no-repeat;
  }

  .scissors,
  .paper,
  .rock {
    background-size: 80%;
    height: 10em;
    width: 10em;
    margin: 0px;
    background-repeat: no-repeat;
  }

  #rock img {
    left: 1.7em;
    top: 2.1em;
    width: 4.5em;
  }

  #paper img {
    left: 1.8em;
    top: 1.7em;
    width: 4.5em;
  }

  #scissors img {
    width: 2.8em;
    left: 2.8em;
    top: 2.1em;
  }

  .result-container {
    height: 15.6em;
    width: 32rem;
    margin: 7em 0em 8em;
    padding: 0em 4em;
  }

  .Conclusion {
    width: 20em;
    position: absolute;
    font-size: 0.7rem;
    top: 20em;
    left: 11em;
    margin: 0em;
  }

  .User-Picked h2,
  .PC-Picked h2 {
    margin-bottom: 1.25em;
    margin-left: -1.5em;
  }

  .Ellipse-User {
    left: 3.2em;
    pointer-events: none;
  }

  .Ellipse-PC {
    position: fixed;
    right: 5.3em;
  }

  .Ellipse-User,
  .Ellipse-PC {
    top: 21.2em;
    height: 9.5em;
    width: 9.5em;
  }

  .Ellipse-User::before,
  .Ellipse-PC::before {
    width: 12.7em;
    height: 12.7em;
  }

  .Ellipse-User::after,
  .Ellipse-PC::after {
    width: 16em;
    height: 16em;
  }

  .play-again {
    margin-top: 20em;
    margin-left: 2em;
  }

  .footer {
    width: 100vw;
    justify-content: normal;
    margin: 10em 0em 0em 6em;
  }

  .rules-info {
    top: 14em;
    left: 6em;
  }

  .hurray-page {
    width: 24.8em;
    align-items: normal;
    margin-top: 11.8em;
    margin-bottom: -7em;
    padding-left: 6.5em;
  }

  .star img {
    width: 22em;
    position: absolute;
    top: 3em;
    left: -4.8em;
  }

  .cup img {
    width: 10em;
    margin-bottom: 1.8em;
    margin-left: 1.2em;
  }

  .hurray-page h1 {
    font: 600 3rem Roboto;
    margin-bottom: 0.2em;
    margin-left: -.5em;
  }

  .hurray-page h2 {
    font: 600 1rem Roboto;
    margin-left: .6em;
    margin-bottom: -15em;

  }

}


/* done by zaman */
